*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}


li{
    list-style: none;
}

.menu{
    opacity: 1;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content:center;
    background-color: #5A0F14;
    padding: 15px;

}

.lista-menu{
    display: flex;
    width: 100%;
    padding: 15px;
    justify-content: space-evenly;
    align-items: center;
}

.menu li{
    list-style: none;
}

.menu a{
    font-size: 18px;
    line-height: 25px;
    text-decoration: none;
    color: #FFF;
}


/* menu Hamburguer */
.nav {
    display: block; /* Exibe o menu em telas pequenas */
    transition: opacity 0.3s ease; /* Transição suave */
  }

  .menu-btn {
    display: none; /* Inicialmente oculto */
    cursor: pointer;
    padding: 10px;
  }

  .menu-btn__burger {
    width: 30px;
    height: 3px;
    background-color: #333;
    margin: 6px 0;
  }

  .menu-btn{
    background-color: #5A0F14;
  }


/*
.icone-instagram{
    position: static;
    width: 95%;
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    align-items: center;
}

.pinstagram{
    padding: 1em;
    color: #FFF;
}


*/


h1{
    color: #fefefe;
}


.titulo{
    text-align: center;
    padding: 1em;
    color: #f8f1f1;
}

.tituloContato{
    text-align: center;
    padding: 1em;
    color: #5A0F14;
}

.tituloServicos{
    padding: 1em;
    text-align: center;
    color: #f8f1f1;
}

.tituloSobreMim{
    padding: 1em;
    text-align: center;
    color: #5A0F14;
}

.socia{
    text-align: center;
    color: #5A0F14;
    text-transform: uppercase;
    border-left: 25em solid #5A0F14;
    border-right: 25em solid #5A0F14;
    height: 1px;
}

/*Modal*/

.modal {
    display: none; /* Por padrão, o modal está oculto */
    position: fixed; /* Posicionamento fixo para cobrir a tela */
    z-index: 1; /* Define a ordem de empilhamento */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Adiciona rolagem se necessário */
    background-color: rgba(41, 40, 40, 0.4); /* Fundo escurecido */
  }
  
  .modal-content {
    background-color: #F2F2F2; /* Cor de fundo do modal */
    margin: 15% auto; /* Centraliza o modal verticalmente */
    padding: 20px;
    border: 1px solid #e6e4e4;
    width: 50%; /* Largura do modal */
  }

  .fechar {
    color: #5A0F14;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }


.borda{
    border: 1px solid #ccc;
}

.info-dialog{
    text-align: center;
    margin: 2px;
    padding: 20px;
    text-transform: uppercase;

}

#main{
    background-image: url("./imgs/fundo.jpg");
    background-repeat: no-repeat;
    padding: 16em;
    background-position: right;
}

.titulo-principal{
    display: flex;
    /* text-align: left; */
    flex-direction: column;
    align-content: center;
    align-items: baseline;
}

.paragrafo-main{
    margin: 1em;
    color: #F2F2F2;
    margin: 40px;
    font-weight: bold;
    text-align: left;
}



.linha-dialog{
    list-style:disc;
    text-align: justify;
    
}

.clique{
    color: #ccc;
    text-align: center;
    font-size: 15px;
    padding: 1px;
}

.paragrafo{
    color: #F2F2F2	;
    margin: 15px;
    padding: 10px;
}

.paragrafoAten{
    padding: 1em;
   color: #353535;
}

.paragrafo-dialog{
    margin: 4px;
    padding: 20px;
}

.p-dialog-paragrafo{
    margin: 4px;
    padding: 10px;
}


.container-conteudo{
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
}

.container-item-atuacao{
    /*
    background-color: #5A0F14;
    border-radius: 10%;
    margin: 2em;
    padding: 6em;
    cursor: pointer;
    */
    background-color: #F2F2F2;
    border: 3px solid #5A0F14;
    flex-direction: row;
    padding: 10px;
    margin: 5px;
    border-radius: 25px;
    width: 15em;
    height: 15em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-content: center;
    flex-wrap: wrap;
}



.container-item-atuacao:hover{
    border: 2px solid #2da1bd;
    cursor: pointer;
    transition-delay: 0.1s; 
}


.descricao{
    text-align: left;
    padding: 1em;
    text-align: center;
    margin: -1em;
    color: #5A0F14;
}

.descricaoServicos{
    text-align: left;
    padding: 1em;
    text-align: center;
    margin: -1em;
    color: #F2F2F2;
}


.icone-atuacao{
    display: flex;
    justify-content:space-evenly;
    align-items: stretch;
}

.container-item-servicos{
    border-radius: 50px;
    margin: 1em;
    padding: 1em;
    border: 2px solid #1c819d;
    text-align: left;
    width: 22em;
    
}

.container-item-servicos:hover{
    background-color: #1c819d;
    transition-delay: 0.1s; 
}

.imgIcone{
    text-align: center;
    margin: auto;
    display: block;
}

.sobre-mim{
    margin: 5em;
    padding: 1em;
    text-align: justify;
}

.sobre{
    flex-wrap: nowrap;
}

/*
.cod{
    margin-top: 25px;
    margin-bottom: 10px;
    font-weight: bold;
}
*/


#area-de-atuacao{
    background: linear-gradient(#0F145A, #1a4e73);
}

#servicos{
    background-image: url('./imgs/back.jpg') ;
    background-repeat: no-repeat;
}

/*Sobre Mim*/

.borda{
    border: 1px solid #ccc;
}

.minha-foto{
    margin-right: 165px;
    /* margin: -11px; */
    padding: 10px;
}

/* Estilos para o botão flutuante */
.botao-flutuante {
    position: fixed; /* Posição fixa para que o botão flutue */
    bottom: 20px; /* Distância da parte inferior da janela */
    right: 20px; /* Distância da parte direita da janela */
    background-color: transparent; 
    /* color: #ffffff; /* Cor do texto */
    border: none; /* Remove a borda */
    padding: 10px 20px;
    font-size: 16px; /* Tamanho da fonte */
    border-radius: 5px; /* Borda arredondada */
    cursor: pointer; /* Altera o cursor ao passar por cima */
    z-index: 9999; /* Garante que o botão esteja acima de outros elementos */
}

/*contato*/

.paragrafo-sobre-mim{
    margin-bottom: 1Fem;
}

.fazerContato{
    padding: 50px;
    text-align: center;
    background-color: #f8f1f1;
}

.btn{
    color: #fefefe;
    text-decoration: none;
}

.botao{
    background-color: #5A0F14;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

.btn1{
    background-color: #5A0F14; /* Cor de fundo */
    border: none; /* Remove a borda padrão */
    padding: 10px 20px; /* Espaçamento interno */
    border-radius: 10px; /* Borda arredondada */
    cursor: pointer; /* Cursor ao passar o mouse */
    display: inline-block; /* Para ajustar ao conteúdo */
    text-align: center; /* Alinhar texto ao centro */
    text-decoration: none; /* Remover sublinhado padrão */
    color: white; /* Cor do texto */
    font-size: 16px; /* Tamanho da fonte */
    font-weight: bold; /* Negrito */
}


.btn1:hover {
    /* Estilos quando o mouse passa por cima */
    background-color: #25D366; /* Cor de fundo mais escura */
}

.btn1 img {
    /* Estilos para a imagem dentro do botão */
    vertical-align: middle; /* Alinha verticalmente */
    margin-right: 10px; /* Espaço à direita da imagem */
}



.botao:hover{
    background-color: #5A0F14;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    -xpedu-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.botao .btn {
    display: inline-block;
    text-align: left;
}

.botao img {
    vertical-align: middle;
    margin-right: 5px; /* Ajuste o espaçamento entre a imagem e o texto conforme necessário */
}

 /*Footer*/

 .contatoFooter{
    margin-left: -15px;
    padding: 15px;
    color: #fefefe;
 }

footer{
    padding: 80px;
    background-color: #5A0F14;
    font-size: 20px;
}

a.footer{
    color: #afacac;
    text-decoration: none;
    border: none;
}

.copy{
    text-align: center;
    padding: 1px;
    color: hsl(0, 0%, 100%);
    background-color: #5A0F14;
    font-size: 12px;
}

/* Elemento de Sobreposição */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Cor e transparência da sobreposição */
    z-index: 999; /* Garante que esteja acima de outros elementos */
  }


 

/*Media Query*/


/* Media Query para telas menores que 600px */
@media screen and (max-width: 600px) {
    body {
      font-size: 12px;
    }

    #main{
        padding: 5em;
    }

    .paragrafo-main{
      margin: 20px;
      text-align: justify;
    }
    
    .btn1{
        background-color: #5A0F14; /* Cor de fundo */
        border: none; /* Remove a borda padrão */
        padding: 5px 15px; /* Espaçamento interno */
        border-radius: 10px; /* Borda arredondada */
        cursor: pointer; /* Cursor ao passar o mouse */
        display: inline-block; /* Para ajustar ao conteúdo */
        text-align: center; /* Alinhar texto ao centro */
        text-decoration: none; /* Remover sublinhado padrão */
        color: white; /* Cor do texto */
        font-size: 15px; /* Tamanho da fonte */
    }

    /*MENU*/
    .menu{
        position: fixed;
        width: 70%;
        display: flex;
        justify-content:center;
        background-color: #5A0F14;
        opacity: 1;
    }

    .menu-btn {
        display: block; /* Exibe o botão em telas pequenas */
      }
      
      .nav {
        display: none; /* Oculta o menu em telas pequenas */
      }
      
      /* Exibe o menu quando o botão é clicado */
      .nav--open {
        display: block;
      }

      .lista-menu{
        flex-direction: column;
      }

  
    /*Modal*/

    .modal-content{
        background-color: #fefefe;
        margin: 10%;
        padding: 20px;
        border: 1px solid #e6e4e4;
        width: 70%;
    }


    /*Serviços*/
    .tituloServicos {
        padding: 2em;
        text-align: center;
        color: #f8f1f1;
    }


    .container-conteudo{
        display: flex;
        justify-content: center;
        padding: 25px 0;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: stretch;
        align-items: center;
    }

    .container-item-atuacao{

        border-radius: 10%;
        margin: 2em;
        padding: 4em;
        cursor: pointer;
        height: 20em;
        width: 20em;
    }

    .container-item-servicos{
        border-radius: 50px;
        margin: 1em;
        padding: 1em;
        border: 2px solid #1c819d;
        text-align: center;
        width: 20em;
    }

    /*Sobre Mim*/
    
    .sobre-mim{
            margin: 2em;
            padding: 1em;
            text-align: justify;
    }

    .paragrafo{
        margin: 1px;
        padding: 1px;
    }

    .img-helo{
        margin-top: -95px;
        margin-left: 165px;
        padding: 45px;
    }

    footer{
        padding: 30px;
        background-color: #5A0F14;
        font-size: 15px;
    }

    /*Borda*/

    .socia{
        text-align: center;
        color: #5A0F14;
        text-transform: uppercase;
        border-left: 7em solid #5A0F14;
        border-right: 7em solid #5A0F14;
        height: 1px;
    }

}


  @media screen and (min-width: 1920px) {
    body {
      font-size: 18px;
    }


.container-item-atuacao {
    background-color: #fff;
    border: 3px solid #5A0F14;
    flex-direction: row;
    padding: 19px;
    margin: 10px;
    border-radius: 25px;
    width: 15em;
    height: 15em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-content: center;
    flex-wrap: wrap;
}

    .container-item-servicos{
        border-radius: 50px;
        margin: 1em;
        padding: 1em;
        border:2px solid #1c819d;
        text-align: justify;
    }
    
    
  }
